body{
    /* Es el color de fondo de la pantalla*/
    background-color: #e6f7ff;
    /* Es la fuente de texto que va a tener la página web */
    font-family: Arial, Helvetica, sans-serif;
    /* Es el color del texto */
    color: #333;
    /* Nuestro interlineado */
    line-height: 1.6;
    /* Es la que está por fuera de borde */
    margin: 0;
    /* Es la que está por dentro del borde */
    padding: 0;
}

header{
    /* Es el color de fondo de la pantalla */
    background-color: #0073e6;
    /* Es el color del texto */
    color: white;
    /* Es la que está por dentro del borde */
    padding: 10px 0;
    /* Alinea el texto al centro */
    text-align: center;
}

h1{
    /* Es el margen que tiene por fuera */
    margin: 0;
}

main{ 
    /* Es el que está por dentro del borde */
    padding: 20px;
    /* Es la margen debajo de la section*/
    margin-bottom: 60px;

    /* Es el borde del contenedor 
    border-radius: 30px;
    /* Es el margen que tiene por fuera 
    margin: 20px;    
    /* Es el color de fondo de la pantalla 
    background-color: #fff;
    /* Es la sombra que tiene el cuadro 
    box-shadow: 0 0 10px rgba(2, 0, 0, 0.1);*/
}

section{
    /* Color del fondo del texto */
    background-color: #ffffff;
    /* Es el que está dentro del borde*/
    padding: 15px;
    /* Borde circular */
    border-radius: 20px;
    /* La sombra del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Es el margen que tiene por fuera del borde en la parte de abajo */
    margin-bottom: 20px;
}

h2{
    /* Es el color del texto */
    color: #0073e6;
}

footer{
    /* Es el color de fondo de la pantalla */
    background-color: #0073e6;
    /* Es el color del texto */
    color: white;
    /* Es la que está por dentro del borde */
    padding: 10px;
    /* Alinea el texto al centro */
    text-align: center;
    /* Es el margen que tiene por fuera */
    margin-top: 20px;
    /* Tipo de posición */
    position: fixed;
    /* Para que el footer se quede estático*/
    bottom: 0;
    /* Que ocupe todo el ancho de la página */
    width: 100%;
    
}

.correo{
    /* Es el color del texto */
    color: #fff;
    /* Quita los subrayados y toda la decoración del texto */
    text-decoration: none;
}

.flex-container{
    /* Es el contenedor que tiene la imagen y el texto, flexible. Donde sus hijos heredarán sus propiedades */
    display: flex;
    /* Lo toma de forma horizontal de izquierda a derecha */ 
    flex-direction: row;
    /* Es el espacio al rededor del elemento */
    justify-content: space-around;
    /* Es un espacio (gutter) entre los elementos flexibles */
    gap: 20px;
}

.flex-item{
    /* El elemento crece con todo el espacio disponible que tenga*/
    flex: 1;
    /* Mínimo del ancho */
    min-width: 250px;
    /* Fondo del contenedor*/
    background-color: #ffffff;
    /* Borde del contenedor */
    border-radius: 10px;
    /* Es el margen que tiene por fuera del borde */
    padding: 15px;
    /* Es el color de la sombra del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Es el margen que tiene por fuera del borde */
    margin: 10px;
    /* Alinea el texto al centro */
    text-align: center;
}

